<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>here showing EMP & DEPT by using Equi Joins, one-many relation</h1>
    <table border="4px">
        <tr>
            <th>empno</th>
            <th>ename</th>
            <th>job</th>
            <th>mgr</th>
            <th>hiredate</th>
            <th>sal</th>
            <th>comm</th>
            <th>deptno</th>
            <th>dname</th>
            <th>dlocation</th>
        </tr>


        <!---    To Access The Data From Backend    -->
        {% for emp in EMPOBJECTS %}
            <tr>
                <td>{{emp.empno}}</td>    <!---    syntax: objectname(emp).col name(what do you want show frontend)   -->
                <td>{{emp.ename}}</td>
                <td>{{emp.job}}</td>
                <td>{{emp.mgr.empno}}</td>   <!---   here i don't want mgr obj(ename) names,i want empno from mgr     -->
                <td>{{emp.hiredate}}</td>
                <td>{{emp.sal}}</td>
                <td>{{emp.comm}}</td>
                <td>{{emp.deptno.deptno}}</td>
                <td>{{emp.deptno.dname}}</td>    <!---   syntax: objectname(emp).common col(for both tables have a comman col deptno).col name(what do you want show frontend)    -->
                <td>{{emp.deptno.dlocation}}</td>
            </tr>

        {% endfor %}
    </table>
    
    
    </center>
</body>
</html>